.logo {
  font-family: "Raleway", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #2e2f42;
}
nav a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
}
address a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  font-style: normal;
}
